spring:
  datasource:
    url: jdbc:h2:mem:devdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  server:
    error:
      include-message: always
      include-binding-errors: always
      include-stacktrace: always
      include-exception: true

  logging:
    level:
      org.springdoc: DEBUG
      io.swagger.v3: DEBUG
      org.springframework.web: DEBUG
      root: DEBUG

  springdoc:
    api-docs:
      path: /v3/api-docs
    swagger-ui:
      path: /swagger-ui.html

